@model MebelWeb.Models.Produkcia

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>

<h4>Продукция</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naimenovanie" class="control-label">Наименование</label>
                <input asp-for="Naimenovanie" class="form-control" />
                <span asp-validation-for="Naimenovanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edinica_izmerenia" class="control-label">Единица измерения</label>
                <select asp-for="edinica_izmerenia" class ="form-control" asp-items="ViewBag.edinica_izmerenia"></select>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество</label>
                <input asp-for="Count" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Сумма</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
