@model MebelWeb.Models.Syrio

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Сырьё</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование материала
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naimenovanie_materiala)
        </dd>
        <dt class = "col-sm-2">
            Единица измерения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edinica_izmerenia.Naimenovanie)
        </dd>
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            Сумма
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
